h1 {
	color: white;
	font-style: italic;
}
#LogoDiv {
	position: absolute;
	height: 75px;
	width: 75px;
	top: 20px;
}
#LogoImg {
	position: fixed;
	height: 75px;
	width: 75px;
}
#CompanyName {
	position: relative;
	padding-top: 10px;
	padding-left: 85px;
}
#LinksBanner {
	background-color: #33cc33;
	background: linear-gradient(to right, #000000, #196619, #1f7a1f, #248f24, #33cc33, #5cd65c, #85e085, #adebad, #ffffff); 
	position: static;
	height: 22px;
}
#aboutButton {
	background: linear-gradient(to right, #1f7a1f, #248f24);
}
#aboutDD {
	background: linear-gradient(to right, #1f7a1f, #248f24);
}
#contactButton {
	background: linear-gradient(to right, #0f3d0f, #1f7a1f);
}
#contactDD {
	background: linear-gradient(to right, #0a290a, #1f7a1f);
}
#homeButton {
	background: linear-gradient(to right, #000000, #0f3d0f);
}
#homeDD {
	background: linear-gradient(to right, #000000, #1f7a1f);
}
header {
	background-color: #996633;
	background: linear-gradient(to right, #663300, #996633, #c68c53, #d2a679); 
	position: static;
	padding-left: 10px;
	height: 100px;
	width: 100%;
}
body {
	background-color: white;
	margin: 0;
	padding: 0;
}
ul {
	list-style-type: none;
	position: fixed;
	margin: 0;
	padding: 0;
}
.dropdown-menu>li>a {
	color: #ffffff;
}
#backGround {
	opacity: 0.3;
	width: 100%;
	height:  100%;
	position: static;
}
#Header {
	position: fixed;
	width: 100%;
}
#ImgBody {
	position: absolute;
	z-index: -1;
}
#bannerBumper {
	background-color: white;
	height: 3px;
}
#content-scroll-wrap {
	height: 100%;
}
#test {
	z-index: 1;
	position: absolute;
	top: 15%;
	left: 0%;
	right: 0%;
	bottom: 0%;
	overflow: auto;
}
.temp {
	text-align: center;
	margin: auto;
	width: 80%;
	top: 40%;
}
.headers {
	text-align: center;
	top: 40%;
	text-decoration: underline;
	padding-top: 5px;
}
