h1 {
	color: white;
	font-style: italic;
	font-family: Airstream;
	text-shadow: 1px 1px #4d4d4d;
	line-height: 25px;
	font-size: 275%;
	vertical-align: middle;
}
#LogoImg {
	position: fixed;
	height: 75px;
}
#CompanyName {
	position: relative;
	padding-top: 10px;
	padding-left: 85px;
}
#bannerBumper {
	background-color: white;
	position: relative;
	height: 3px;
}
#LinksBanner {
	background: linear-gradient(to right, #000000, #196619, #1f7a1f, #248f24, #33cc33, #5cd65c, #85e085, #adebad, #ffffff); 
	position: static;
	height: 28px;
}
#aboutButton {
	/*background: linear-gradient(to right, #1f7a1f, #248f24);*/
	background: transparent;
	border: none;
	color: white;
}

#historyButton {
	/*background: linear-gradient(to right, #1f7a1f, #248f24);*/
	background: transparent;
	border: none;
	color: white;
}

#contactButton {
	/*background: linear-gradient(to right, #0f3d0f, #1f7a1f);*/
	background: transparent;
	border: none;
	color: white;
}

#homeButton {
	/*background: linear-gradient(to right, #000000, #0f3d0f);*/
	background: transparent;
	border: none;
	color: white;
}

#eventsButton {
	/*background: linear-gradient(to right, #000000, #0f3d0f);*/
	background: transparent;
	border: none;
	color: white;
}

header {
	background: linear-gradient(to right, #663300, #996633, #c68c53, #d2a679); 
	position: staticaboutButton	padding-left: 10px;
	height: 75px;
	width: 100%;
}

body {
	background: #8c8c8c;
	margin: 0;
	padding: 0;
	height: 100%;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#backGround {
	opacity: 0.3;
	/*width: 100%;*/
	/*height:  100%;*/
	position: static;
}

#Header {
	position: fixed;
	width: 100%;
	height: 100%;
}

#ImgBody {
	z-index: -1;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

#test {
	z-index: 1;
	position: fixed;
	top: 107px;
	width: 75%;
	margin: auto;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	background-color: #f2f2f2;
}

#header1 {
	padding-top: 7%;
}

.insesrtText {
	text-align: center;
	margin: auto;
	width: 85%;
	top: 40%;
}

.headers {
	text-align: center;
	top: 40%;
	padding-top: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.breaks {
	width: 35%;
	margin-left: 32%;
	vertical-align: top;
	visibility: hidden;
}

@font-face {
    font-family: Airstream;
    src: url(AlexBrush-Regular.ttf);
}
/*consider using font sizes at 4vw or 4vh for width and height respective to the viewport instead of px*/