h1 {
	color:white;
	font-style: italic;
}
#LogoDiv {
	position: absolute;
	height: 75px;
	width: 75px;
	top: 20px;
}
#LogoImg {
	position: absolute;
	height: 75px;
	width: 75px;
}
#CompanyName {
	postion: absolute;
	padding-top: 10px;
	padding-left: 85px;
}
#LinksBanner {
	background-color: #33cc33;
	background: linear-gradient(to right, #33cc33, #5cd65c, #ffffff); 
	position: relative;
	height: 17px;
}
header {
	background-color: #996633;
	background: linear-gradient(to right, #996633, #c68c53, #d2a679); 
	postion: fixed;
	padding-left: 10px;
	height: 100px;
}
body {
	background-color:white;
	margin: 0;
	padding: 0;
}
ul {
	list-style-type: none;
	position: fixed;
	margin: 0;
	padding:  0;
}
li {
	display: inline;
	padding: 10px;
}
a {
	color: white;
	text-decoration: none;
}
li a:hover:not(.active) {
    background-color: #111;
}
li b:hover:not(.active) {
    background-color: #111;
}
li c:hover:not(.active) {
    background-color: #111;
}
